[core]
    #editor = /Applications/MacVim.app/Contents/MacOS/Vim -f -g
    editor = /usr/bin/vim
    excludesfile = /Users/alejandro/.gitignore
    autocrlf = false
[user]
    email = alemacgo@gmail.com
	name = Alejandro Machado
[color]
    diff = auto
    status = auto
    branch = auto
[branch "master"]
    remote = origin
    merge = refs/heads/master
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[merge]
    tool = diffmerge
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "diffmerge"]
    cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = true

[diff]
    tool = mvimdiff
[difftool]
    prompt = false
[difftool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
